Repository mrlonis/todo-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ng-lint-staged lint --fix --

Create LICENSE
  LICENSE
Due: none

Adding new stuff
  package-lock.json
  package.json
Due: prettier --write

Update dependabot.yml
  .github/dependabot.yml
Due: none

Updating github actions
  .github/workflows/actions.yml
  .github/workflows/update-angular.yml
  .lintstagedrc.json
  .nvmrc
  cypress/eslint.config.js
  eslint.config.js
  package-lock.json
  package.json
Due: prettier --write, ng-lint-staged lint --fix --

Fixing tests
  cypress/e2e/app.cy.ts
  src/app/app.component.spec.ts
  src/app/app.config.ts
  src/app/components/add-new-pi-dialog/add-new-pi-dialog.component.spec.ts
  src/app/components/base-todo-items/base-todo-items.component.spec.ts
  src/app/components/create-item-dialog/create-item-dialog.component.spec.ts
  src/app/components/navigation/navigation.component.spec.ts
  src/app/components/navigation/navigation.component.ts
  src/app/components/todo-item/todo-item.component.spec.ts
  src/app/pages/archived-items/archived-items.component.spec.ts
  src/app/pages/page-not-found/page-not-found.component.spec.ts
  src/app/services/api.service.spec.ts
  src/app/services/metadata-api.service.spec.ts
  src/main.ts
Due: prettier --write, ng-lint-staged lint --fix --

Upgrade @angular/core from 18.2.12 to 19.0.1
  package-lock.json
  package.json
  src/app/app.component.ts
  src/app/components/add-new-pi-dialog/add-new-pi-dialog.component.ts
  src/app/components/add-new-sprint-dialog/add-new-sprint-dialog.component.ts
  src/app/components/base-todo-items/base-todo-items.component.ts
  src/app/components/create-item-dialog/create-item-dialog.component.ts
  src/app/components/navigation/navigation.component.ts
  src/app/components/todo-item/todo-item.component.ts
  src/app/pages/archived-items/archived-items.component.ts
  src/app/pages/page-not-found/page-not-found.component.ts
  src/app/pages/todo-items/todo-items.component.ts
Due: prettier --write, ng-lint-staged lint --fix --

Update update-angular.yml
  .github/workflows/update-angular.yml
Due: none

Updates
  .nvmrc
  package-lock.json
  package.json
  src/app/components/todo-item/todo-item.component.html
  src/app/pages/todo-items/todo-items.component.ts
Due: prettier --write, ng-lint-staged lint --fix --

Upgrade angular-eslint from 19.7.0 to 20.0.0
  angular.json
  package-lock.json
  package.json
Due: prettier --write

Updating readme
  README.md
Due: prettier --write

Updating to Angular 20
  .gitattributes
  angular.json
  eslint.config.js
  package-lock.json
  package.json
  src/app/components/add-new-pi-dialog/add-new-pi-dialog.component.ts
  src/app/components/add-new-sprint-dialog/add-new-sprint-dialog.component.ts
  src/app/components/base-todo-items/base-todo-items.component.ts
  src/app/components/create-item-dialog/create-item-dialog.component.ts
  src/app/components/navigation/navigation.component.ts
  src/app/pages/todo-items/todo-items.component.ts
  src/app/services/api.service.ts
  src/app/services/metadata-api.service.ts
Due: prettier --write, ng-lint-staged lint --fix --

Attempting to fix
  .nvmrc
  eslint.config.js
  package-lock.json
  package.json
  src/app/app.component.spec.ts
  src/app/app.config.ts
  src/app/components/add-new-pi-dialog/add-new-pi-dialog.component.spec.ts
  src/app/components/add-new-sprint-dialog/add-new-sprint-dialog.component.spec.ts
  src/app/components/base-todo-items/base-todo-items.component.spec.ts
  src/app/components/create-item-dialog/create-item-dialog.component.spec.ts
  src/app/components/navigation/navigation.component.spec.ts
Due: prettier --write, ng-lint-staged lint --fix --

Adding cypress tests
  cypress/e2e/app.cy.ts
  eslint.config.js
  package-lock.json
  src/app/app.config.ts
  src/app/components/base-todo-items/base-todo-items.component.html
Due: prettier --write, ng-lint-staged lint --fix --

Updating dependencies
  .github/workflows/actions.yml
  .github/workflows/update-angular.yml
  .nvmrc
  package-lock.json
Due: prettier --write

Updating dependencies
  package-lock.json
  src/app/app.component.spec.ts
  src/app/components/add-new-pi-dialog/add-new-pi-dialog.component.spec.ts
  src/app/components/add-new-sprint-dialog/add-new-sprint-dialog.component.spec.ts
  src/app/components/base-todo-items/base-todo-items.component.spec.ts
  src/app/components/create-item-dialog/create-item-dialog.component.spec.ts
  src/app/components/navigation/navigation.component.spec.ts
  src/app/components/todo-item/todo-item.component.spec.ts
  src/app/pages/archived-items/archived-items.component.spec.ts
  src/app/pages/page-not-found/page-not-found.component.spec.ts
  src/app/pages/todo-items/todo-items.component.spec.ts
  src/app/services/api.service.spec.ts
  src/app/services/metadata-api.service.spec.ts
Due: prettier --write, ng-lint-staged lint --fix --

Upgrade angular-eslint from 20.6.0 to 21.0.0
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

Update package-lock with dependency upgrades
  package-lock.json
Due: prettier --write

Preparing for Angular 21
  README.md
Due: prettier --write

Upgrading to Angular 21
  .github/dependabot.yml
  angular.json
  eslint.config.js
  package-lock.json
  package.json
  src/app/app.component.spec.ts
  src/app/app.config.ts
  src/app/components/add-new-pi-dialog/add-new-pi-dialog.component.spec.ts
  src/app/components/add-new-sprint-dialog/add-new-sprint-dialog.component.spec.ts
  src/app/components/base-todo-items/base-todo-items.component.spec.ts
  src/app/components/create-item-dialog/create-item-dialog.component.spec.ts
  src/app/components/navigation/navigation.component.spec.ts
  src/app/components/todo-item/todo-item.component.spec.ts
  src/app/pages/archived-items/archived-items.component.spec.ts
  src/app/pages/page-not-found/page-not-found.component.spec.ts
  src/app/pages/todo-items/todo-items.component.spec.ts
  src/app/services/api.service.spec.ts
  src/app/services/metadata-api.service.spec.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.spec.json
Due: prettier --write, ng-lint-staged lint --fix --

Creating copilot-instructions.md
  .github/copilot-instructions.md
Due: prettier --write

Use ESLint defineConfig and simplify TS settings
  eslint.config.js
Due: prettier --write

Resolving deprecated animate usage
  src/app/components/base-todo-items/base-todo-items.component.html
  src/app/components/base-todo-items/base-todo-items.component.scss
  src/app/components/base-todo-items/base-todo-items.component.ts
  src/app/services/api.service.ts
  src/app/services/metadata-api.service.ts
Due: prettier --write, ng-lint-staged lint --fix --

Swapping to input signals
  src/app/components/base-todo-items/base-todo-items.component.html
  src/app/components/base-todo-items/base-todo-items.component.ts
Due: prettier --write, ng-lint-staged lint --fix --

Swapping to output signals
  src/app/components/base-todo-items/base-todo-items.component.ts
Due: prettier --write, ng-lint-staged lint --fix --

Complete migration to signals
  src/app/components/add-new-pi-dialog/add-new-pi-dialog.component.ts
  src/app/components/add-new-sprint-dialog/add-new-sprint-dialog.component.ts
  src/app/components/todo-item/todo-item.component.html
  src/app/components/todo-item/todo-item.component.ts
  src/app/services/api.service.ts
  src/app/services/metadata-api.service.ts
Due: prettier --write, ng-lint-staged lint --fix --

Fix failing test
  cypress/e2e/app.cy.ts
  cypress/screenshots/app.cy.ts/template spec -- passes (failed).png
Due: prettier --write, ng-lint-staged lint --fix --

Address PR Comments
  src/app/components/todo-item/todo-item.component.html
Due: prettier --write, ng-lint-staged lint --fix --

Updates
  .gitignore
  .nvmrc
  src/app/components/navigation/navigation.component.ts
Due: prettier --write, ng-lint-staged lint --fix --

Fix test failures for JSDom
  src/app/components/navigation/navigation.component.ts
Due: prettier --write, ng-lint-staged lint --fix --

Updating dependencies
  package-lock.json
Due: prettier --write

Updating dependencies
  package-lock.json
  package.json
Due: prettier --write

Updating dependencies
  cypress/screenshots/app.cy.ts/template spec -- passes (failed).png
  eslint.config.js
  package-lock.json
  package.json
Due: prettier --write

Bump tooling and Node versions
  .github/dependabot.yml
  .nvmrc
  package-lock.json
  package.json
Due: prettier --write

Remove redundant type assertions on dialog data
  src/app/components/add-new-pi-dialog/add-new-pi-dialog.component.spec.ts
  src/app/components/add-new-sprint-dialog/add-new-sprint-dialog.component.spec.ts
  src/app/components/create-item-dialog/create-item-dialog.component.ts
  src/app/pages/todo-items/todo-items.component.ts
Due: prettier --write, ng-lint-staged lint --fix --

Remove Angular auto-upgrade workflow
  .github/workflows/update-angular.yml
Due: none

Update Angular version example to v22
  README.md
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{css,html,js,jsx,json,md,ts,tsx,scss}
  ng-lint-staged lint --fix --: (any of: cypress/**/*.{html,js,jsx,ts,tsx}) or (any of: src/**/*.{html,js,jsx,ts,tsx})
