Repository mrlonis/todo-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ng-lint-staged lint --fix --

Adding even more files
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier --write

Adding even more files
  package.json
Due: prettier --write

ES Lint is working now
  .prettierrc
  angular.json
  cypress/cypress.config.ts
  cypress/e2e/app.cy.ts
  cypress/eslint.config.js
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/component-index.html
  cypress/support/component.ts
  cypress/support/e2e.ts
  cypress/tsconfig.json
  eslint.config.js
  package-lock.json
  package.json
  src/app/eslint.config.js
  tsconfig.json
Due: prettier --write, ng-lint-staged lint --fix --

Prettier
  package.json
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.config.ts
  src/index.html
  src/main.ts
  tsconfig.app.json
  tsconfig.spec.json
Due: prettier --write, ng-lint-staged lint --fix --

Angular ESLint Flat Config Setup
  eslint.config.js
  package.json
  src/app/eslint.config.js
Due: prettier --write, ng-lint-staged lint --fix --

Updating dependencies
  package-lock.json
  package.json
Due: prettier --write

Adding angular material
  angular.json
  package-lock.json
  package.json
  src/app/app.config.ts
  src/index.html
  src/styles.scss
Due: prettier --write, ng-lint-staged lint --fix --

Adding angular material
  src/app/app.component.html
  src/app/app.config.ts
Due: prettier --write, ng-lint-staged lint --fix --

Adding more components
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.routes.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.spec.ts
  src/app/components/home/home.component.ts
  src/app/components/home/index.ts
  src/app/components/index.ts
  src/app/components/page-not-found/index.ts
  src/app/components/page-not-found/page-not-found.component.html
  src/app/components/page-not-found/page-not-found.component.scss
  src/app/components/page-not-found/page-not-found.component.spec.ts
  src/app/components/page-not-found/page-not-found.component.ts
  src/app/index.ts
  src/app/services/api.service.spec.ts
  src/app/services/api.service.ts
  src/app/services/index.ts
Due: prettier --write, ng-lint-staged lint --fix --

Fixing eslint issues
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.ts
Due: prettier --write, ng-lint-staged lint --fix --

More things
  src/app/index.ts
  src/app/interfaces/index.ts
  src/app/interfaces/todo-item.ts
  src/app/services/api.service.spec.ts
  src/app/services/api.service.ts
Due: prettier --write, ng-lint-staged lint --fix --

Adding new components
  README.md
  package-lock.json
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/app.config.ts
  src/app/components/create-item-dialog/create-item-dialog.component.html
  src/app/components/create-item-dialog/create-item-dialog.component.scss
  src/app/components/create-item-dialog/create-item-dialog.component.spec.ts
  src/app/components/create-item-dialog/create-item-dialog.component.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.ts
  src/app/interfaces/dialog-data.ts
  src/app/interfaces/index.ts
  src/app/services/api.service.ts
Due: prettier --write, ng-lint-staged lint --fix --

Adding new stuff
  .vscode/settings.json
  src/app/components/create-item-dialog/create-item-dialog.component.html
  src/app/components/create-item-dialog/create-item-dialog.component.scss
  src/app/components/create-item-dialog/create-item-dialog.component.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.ts
  src/app/interfaces/dialog-data.ts
  src/app/interfaces/index.ts
  src/app/interfaces/todo-item.ts
Due: prettier --write, ng-lint-staged lint --fix --

Adding even more cool things
  src/app/app.component.scss
  src/app/app.component.spec.ts
  src/app/components/create-item-dialog/create-item-dialog.component.html
  src/app/components/create-item-dialog/create-item-dialog.component.spec.ts
  src/app/components/create-item-dialog/create-item-dialog.component.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.spec.ts
  src/app/components/home/home.component.ts
  src/app/components/todo-item/todo-item.component.html
  src/app/components/todo-item/todo-item.component.scss
  src/app/components/todo-item/todo-item.component.spec.ts
  src/app/components/todo-item/todo-item.component.ts
Due: prettier --write, ng-lint-staged lint --fix --

Swapping off CDK Accordian
  src/app/components/home/home.component.html
  src/app/components/home/home.component.ts
Due: prettier --write, ng-lint-staged lint --fix --

Adding new fields
  src/app/components/create-item-dialog/index.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.ts
  src/app/components/index.ts
  src/app/components/todo-item/index.ts
  src/app/interfaces/todo-item.ts
Due: prettier --write, ng-lint-staged lint --fix --

Adding things
  .github/dependabot.yml
Due: none

Adding things
  .github/workflows/actions.yml
Due: none

Adding new components
  src/app/components/add-new-pi-dialog/add-new-pi-dialog.component.html
  src/app/components/add-new-pi-dialog/add-new-pi-dialog.component.scss
  src/app/components/add-new-pi-dialog/add-new-pi-dialog.component.spec.ts
  src/app/components/add-new-pi-dialog/add-new-pi-dialog.component.ts
  src/app/components/add-new-pi-dialog/index.ts
  src/app/components/add-new-sprint-dialog/add-new-sprint-dialog.component.html
  src/app/components/add-new-sprint-dialog/add-new-sprint-dialog.component.scss
  src/app/components/add-new-sprint-dialog/add-new-sprint-dialog.component.spec.ts
  src/app/components/add-new-sprint-dialog/add-new-sprint-dialog.component.ts
  src/app/components/add-new-sprint-dialog/index.ts
  src/app/components/create-item-dialog/create-item-dialog.component.html
  src/app/components/create-item-dialog/create-item-dialog.component.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.ts
  src/app/components/index.ts
  src/app/interfaces/todo-item.ts
Due: prettier --write, ng-lint-staged lint --fix --

Adding new things
  angular.json
  package-lock.json
  src/app/components/add-new-pi-dialog/add-new-pi-dialog.component.spec.ts
  src/app/components/add-new-sprint-dialog/add-new-sprint-dialog.component.spec.ts
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.ts
  src/app/interfaces/todo-item.ts
  src/app/services/api.service.ts
  src/index.html
Due: prettier --write, ng-lint-staged lint --fix --

Updating dependabot config
  .github/dependabot.yml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

Adding new UI Stuff
  src/app/app.component.html
  src/app/app.component.scss
  src/app/components/home/home.component.html
  src/app/components/home/home.component.scss
  src/app/components/home/home.component.ts
  src/index.html
  src/styles.scss
Due: prettier --write, ng-lint-staged lint --fix --

Adding new UI Things
  package-lock.json
  src/app/components/home/home.component.html
  src/app/components/home/home.component.ts
  src/app/services/api.service.ts
Due: prettier --write, ng-lint-staged lint --fix --

Dependabot config updates
  .github/dependabot.yml
Due: none

Updating things and stuff
  .github/dependabot.yml
  .github/workflows/update-angular.yml
  .nvmrc
Due: none

Dependabot config updates
  .github/workflows/dependabot-auto-approve.yml
  .github/workflows/dependabot-auto-merge.yml
Due: none

Adding stuff
  src/app/components/home/home.component.html
  src/app/components/home/home.component.ts
  src/app/services/api.service.ts
  src/index.html
  src/styles.scss
Due: prettier --write, ng-lint-staged lint --fix --

Adding stuff
  src/app/app.component.html
  src/app/app.component.ts
  src/app/components/index.ts
  src/app/components/navigation/index.ts
  src/app/components/navigation/navigation.component.html
  src/app/components/navigation/navigation.component.scss
  src/app/components/navigation/navigation.component.spec.ts
  src/app/components/navigation/navigation.component.ts
  src/app/components/page-not-found/page-not-found.component.html
Due: prettier --write, ng-lint-staged lint --fix --

Adding stuff
  src/app/app.component.spec.ts
  src/app/components/home/index.ts
  src/app/components/index.ts
  src/app/components/navigation/navigation.component.spec.ts
  src/app/components/todo-items/index.ts
  src/app/components/todo-items/todo-items.component.html
  src/app/components/todo-items/todo-items.component.scss
  src/app/components/todo-items/todo-items.component.spec.ts
  src/app/components/todo-items/todo-items.component.ts
Due: prettier --write, ng-lint-staged lint --fix --

Adding stuff
  src/app/app.component.spec.ts
  src/app/app.routes.ts
  src/app/components/todo-items/todo-items.component.spec.ts
  src/app/components/todo-items/todo-items.component.ts
Due: prettier --write, ng-lint-staged lint --fix --

Adding stuff
  src/app/app.component.spec.ts
  src/app/app.routes.ts
  src/app/components/index.ts
  src/app/index.ts
  src/app/pages/index.ts
  src/app/pages/page-not-found/index.ts
  src/app/pages/page-not-found/page-not-found.component.html
  src/app/pages/page-not-found/page-not-found.component.scss
  src/app/pages/page-not-found/page-not-found.component.spec.ts
  src/app/pages/page-not-found/page-not-found.component.ts
  src/app/pages/todo-items/index.ts
  src/app/pages/todo-items/todo-items.component.html
  src/app/pages/todo-items/todo-items.component.scss
  src/app/pages/todo-items/todo-items.component.spec.ts
  src/app/pages/todo-items/todo-items.component.ts
Due: prettier --write, ng-lint-staged lint --fix --

Adding stuff
  src/app/components/base-todo-items/base-todo-items.component.html
  src/app/components/base-todo-items/base-todo-items.component.scss
  src/app/components/base-todo-items/base-todo-items.component.spec.ts
  src/app/components/base-todo-items/base-todo-items.component.ts
  src/app/components/base-todo-items/index.ts
  src/app/components/index.ts
  src/app/pages/archived-items/archived-items.component.html
  src/app/pages/archived-items/archived-items.component.scss
  src/app/pages/archived-items/archived-items.component.spec.ts
  src/app/pages/archived-items/archived-items.component.ts
  src/app/pages/archived-items/index.ts
  src/app/pages/index.ts
Due: prettier --write, ng-lint-staged lint --fix --

Adding stuff
  src/app/app.routes.ts
  src/app/components/add-new-pi-dialog/add-new-pi-dialog.component.html
  src/app/components/add-new-pi-dialog/add-new-pi-dialog.component.spec.ts
  src/app/components/add-new-pi-dialog/add-new-pi-dialog.component.ts
  src/app/components/add-new-sprint-dialog/add-new-sprint-dialog.component.html
  src/app/components/add-new-sprint-dialog/add-new-sprint-dialog.component.spec.ts
  src/app/components/add-new-sprint-dialog/add-new-sprint-dialog.component.ts
  src/app/components/base-todo-items/base-todo-items.component.html
  src/app/components/base-todo-items/base-todo-items.component.scss
  src/app/components/base-todo-items/base-todo-items.component.spec.ts
  src/app/components/base-todo-items/base-todo-items.component.ts
  src/app/components/create-item-dialog/create-item-dialog.component.html
  src/app/components/create-item-dialog/create-item-dialog.component.scss
  src/app/components/create-item-dialog/create-item-dialog.component.ts
  src/app/interfaces/todo-item.ts
  src/app/pages/archived-items/archived-items.component.html
  src/app/pages/archived-items/archived-items.component.spec.ts
  src/app/pages/archived-items/archived-items.component.ts
  src/app/pages/todo-items/todo-items.component.html
  src/app/pages/todo-items/todo-items.component.ts
  src/app/services/api.service.ts
  src/app/services/index.ts
  src/app/services/metadata-api.service.spec.ts
  src/app/services/metadata-api.service.ts
Due: prettier --write, ng-lint-staged lint --fix --

Adding stuff
  .github/dependabot.yml
  .github/workflows/dependabot-auto-approve.yml
Due: none

Dependabot Config Update
  .github/dependabot.yml
Due: none

Dependabot config updates
  .github/workflows/update-angular.yml
Due: none

Adding new stuff
  package-lock.json
  src/app/components/base-todo-items/base-todo-items.component.html
  src/app/components/base-todo-items/base-todo-items.component.scss
  src/app/components/navigation/navigation.component.html
  src/app/components/navigation/navigation.component.ts
  src/app/components/todo-item/todo-item.component.html
  src/app/components/todo-item/todo-item.component.scss
  src/app/components/todo-item/todo-item.component.ts
Due: prettier --write, ng-lint-staged lint --fix --

Adding new stuff
  package-lock.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{css,html,js,jsx,json,md,ts,tsx,scss}
  ng-lint-staged lint --fix --: (any of: cypress/**/*.{html,js,jsx,ts,tsx}) or (any of: src/**/*.{html,js,jsx,ts,tsx})
