Repository mrlonis/todo-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ng-lint-staged lint --fix --

.lintstagedrc.json:

{
  "*.{css,html,js,jsx,json,md,ts,tsx,scss}": ["prettier --write"],
  "cypress/**/*.{html,js,jsx,ts,tsx}": ["ng-lint-staged lint --fix --"],
  "src/**/*.{html,js,jsx,ts,tsx}": ["ng-lint-staged lint --fix --"]
}

Upgrade Angular 22 and tooling
  .claude/CLAUDE.md
  .cursor/rules/cursor.mdc
  .gemini/GEMINI.md
  .github/workflows/actions.yml
  .husky/pre-commit
  .junie/guidelines.md
  .nvmrc
  .prettierrc
  .vscode/settings.json
  .windsurf/rules/guidelines.md
  AGENTS.md
  agent-instructions/source.md
  cypress/eslint.config.js
  cypress/tsconfig.json
  eslint.config.js
  package-lock.json
  package.json
  scripts/sync-agent-instructions.mjs
  src/app/app.component.html
  src/app/components/add-new-pi-dialog/add-new-pi-dialog.component.ts
  src/app/components/add-new-sprint-dialog/add-new-sprint-dialog.component.ts
  src/app/components/base-todo-items/base-todo-items.component.html
  src/app/components/base-todo-items/base-todo-items.component.ts
  src/app/components/create-item-dialog/create-item-dialog.component.html
  src/app/components/create-item-dialog/create-item-dialog.component.ts
  src/app/components/navigation/navigation.component.html
  src/app/components/todo-item/todo-item.component.ts
  src/app/interfaces/todo-item.ts
  src/app/pages/todo-items/todo-items.component.html
  src/app/pages/todo-items/todo-items.component.ts
  src/index.html
  tsconfig.app.json
  tsconfig.json
  tsconfig.spec.json
Due: prettier --write, ng-lint-staged lint --fix --

Adjust Angular workspace config
  angular.json
Due: prettier --write

Fix Codacy coverage path
  .github/workflows/actions.yml
Due: none

Convert routes to lazy-loaded components
  src/app/app.routes.ts
Due: prettier --write, ng-lint-staged lint --fix --

Rename classes to drop Component/Service suffixes
  src/app/app.routes.ts
  src/app/app.spec.ts
  src/app/app.ts
  src/app/components/add-new-pi-dialog/add-new-pi-dialog.spec.ts
  src/app/components/add-new-pi-dialog/add-new-pi-dialog.ts
  src/app/components/add-new-sprint-dialog/add-new-sprint-dialog.spec.ts
  src/app/components/add-new-sprint-dialog/add-new-sprint-dialog.ts
  src/app/components/base-todo-items/base-todo-items.spec.ts
  src/app/components/base-todo-items/base-todo-items.ts
  src/app/components/create-item-dialog/create-item-dialog.spec.ts
  src/app/components/create-item-dialog/create-item-dialog.ts
  src/app/components/navigation/navigation.spec.ts
  src/app/components/navigation/navigation.ts
  src/app/pages/archived-items/archived-items.spec.ts
  src/app/pages/archived-items/archived-items.ts
  src/app/pages/page-not-found/page-not-found.spec.ts
  src/app/pages/page-not-found/page-not-found.ts
  src/app/pages/todo-items/todo-items.spec.ts
  src/app/pages/todo-items/todo-items.ts
  src/app/services/api.spec.ts
  src/app/services/api.ts
  src/app/services/metadata-api.spec.ts
  src/app/services/metadata-api.ts
Due: prettier --write, ng-lint-staged lint --fix --

Update agent instructions for todo app
  .claude/CLAUDE.md
  .cursor/rules/cursor.mdc
  .gemini/GEMINI.md
  .github/copilot-instructions.md
  .junie/guidelines.md
  .windsurf/rules/guidelines.md
  AGENTS.md
  agent-instructions/source.md
Due: prettier --write

Add Angular Material theming to global styles
  src/styles.scss
Due: prettier --write

Expand unit test coverage across all modules
  src/app/app.spec.ts
  src/app/components/add-new-pi-dialog/add-new-pi-dialog.spec.ts
  src/app/components/add-new-sprint-dialog/add-new-sprint-dialog.spec.ts
  src/app/components/base-todo-items/base-todo-items.spec.ts
  src/app/components/create-item-dialog/create-item-dialog.spec.ts
  src/app/components/navigation/navigation.spec.ts
  src/app/components/todo-item/todo-item.spec.ts
  src/app/pages/archived-items/archived-items.spec.ts
  src/app/pages/page-not-found/page-not-found.spec.ts
  src/app/pages/todo-items/todo-items.spec.ts
  src/app/services/api.spec.ts
  src/app/services/metadata-api.spec.ts
Due: prettier --write, ng-lint-staged lint --fix --

Expand Cypress coverage for todo flows
  cypress/cypress.config.ts
  cypress/e2e/app.cy.ts
  cypress/e2e/archived-items.cy.ts
  cypress/e2e/dialogs.cy.ts
  cypress/e2e/todo-items.cy.ts
  cypress/fixtures/archived-items.json
  cypress/fixtures/pis.json
  cypress/fixtures/sprints.json
  cypress/fixtures/todo-items-active.json
  cypress/fixtures/todo-items-all.json
Due: prettier --write, ng-lint-staged lint --fix --

Ignore Cypress and Codacy artifacts
  .gitignore
Due: none

Refactor e2e tests for stability and UI alignment
  cypress/e2e/app.cy.ts
  cypress/e2e/dialogs.cy.ts
  cypress/e2e/todo-items.cy.ts
Due: prettier --write, ng-lint-staged lint --fix --

Add testing guidelines for Vitest and Cypress
  .claude/CLAUDE.md
  .cursor/rules/cursor.mdc
  .gemini/GEMINI.md
  .github/copilot-instructions.md
  .junie/guidelines.md
  .windsurf/rules/guidelines.md
  AGENTS.md
  agent-instructions/source.md
Due: prettier --write

Add Codacy config to exclude non-source paths
  .codacy.yml
Due: none

Migrate E2E tests from Cypress to Playwright
  .claude/CLAUDE.md
  .codacy.yml
  .cursor/rules/cursor.mdc
  .gemini/GEMINI.md
  .github/copilot-instructions.md
  .github/dependabot.yml
  .github/workflows/actions.yml
  .gitignore
  .junie/guidelines.md
  .windsurf/rules/guidelines.md
  AGENTS.md
  README.md
  agent-instructions/source.md
  cypress/cypress.config.ts
  cypress/e2e/app.cy.ts
  cypress/e2e/archived-items.cy.ts
  cypress/e2e/dialogs.cy.ts
  cypress/e2e/todo-items.cy.ts
  cypress/eslint.config.js
  cypress/fixtures/archived-items.json
  cypress/fixtures/example.json
  cypress/fixtures/pis.json
  cypress/fixtures/sprints.json
  cypress/fixtures/todo-items-active.json
  cypress/fixtures/todo-items-all.json
  cypress/support/commands.ts
  cypress/support/component-index.html
  cypress/support/component.ts
  cypress/support/e2e.ts
  package-lock.json
  package.json
  tests/app.spec.ts
  tests/archived-items.spec.ts
  tests/dialogs.spec.ts
  tests/eslint.config.js
  tests/fixtures.ts
  tests/playwright.config.ts
  tests/todo-items.spec.ts
  tests/tsconfig.json
  tsconfig.json
Due: prettier --write, ng-lint-staged lint --fix --

Add overridden for import/no-extraneous-dependencies to playwright eslint config
  tests/eslint.config.js
Due: prettier --write

Stabilize E2E API mocks and endpoint check
  tests/app.spec.ts
  tests/archived-items.spec.ts
Due: prettier --write

Use evaluate() for dialog input updates in E2E tests
  tests/dialogs.spec.ts
Due: prettier --write

Refactor todo UI state to use signals
  src/app/components/add-new-pi-dialog/add-new-pi-dialog.ts
  src/app/components/add-new-sprint-dialog/add-new-sprint-dialog.ts
  src/app/components/base-todo-items/base-todo-items.html
  src/app/components/base-todo-items/base-todo-items.spec.ts
  src/app/components/base-todo-items/base-todo-items.ts
  src/app/components/create-item-dialog/create-item-dialog.html
  src/app/components/create-item-dialog/create-item-dialog.ts
  src/app/components/navigation/navigation.html
  src/app/components/navigation/navigation.ts
  src/app/pages/todo-items/todo-items.html
  src/app/pages/todo-items/todo-items.spec.ts
  src/app/pages/todo-items/todo-items.ts
Due: prettier --write, ng-lint-staged lint --fix --
